.breadcrumb {
  padding: 0;
  overflow: hidden;
  li {
    padding: 10px 0;
    float: left;
    margin: 0 10px;

    &:last-child {
      pointer-events: none;
      a {
        color: #000;
      }
    }
  }
}
